<h2 class="text-center">ADICIONANDO C.C</h2>
<form action="/notes" method="post">
    <div class="row g-2 mb-2 mt-3">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="remetente" name="remetente"
                    placeholder="Insira o nome do requerente" required="true">
                <label for="remetente">Remetente</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="setorRemetente" name="setorRemetente">
                    <option selected></option>
                    <option value="Tecnologia da Informação">T.I</option>
                    <option value="Recursos Humanos">RH</option>
                    <option value="Secretaria Acadêmica">Sec. Acadêmica</option>
                </select>
                <label for="setorRemetente">Setor Solicitante</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="assunto" name="assunto"
                    placeholder="Insira o nome do requerente" required="true">
                <label for="assunto">Assunto</label>
            </div>
        </div>

    </div>








    <div class="row g-2 mb-2">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Insira seu comunicado" id="description" style="height: 100px"
                name="description"></textarea>
            <label for="Description">Descrição:</label>
        </div>
    </div>

    <div class="row g-2 mb-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="destinatario"
                    placeholder="Insira o nome do requerente" name="destinatario">
                <label for="destinatario">Destinatário</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="setorDestinatario" name="setorDestinatario">
                    <option selected></option>
                    <option value="Tecnologia da Informação">T.I</option>
                    <option value="Recursos Humanos">RH</option>
                    <option value="Secretaria Acadêmica">Sec. Acadêmica</option>
                </select>
                <label for="setorDestinatario">Setor de Destino</label>
            </div>
        </div>

    </div>
        <div class="row g-2 mb-2">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Descreva sua objervação" id="obsCi" style="height: 100px"
                name="obsCi"></textarea>
            <label for="obsCi">Observações:</label>
        </div>
    </div>










    <button type="submit" class="btn btn-primary">Criar</button>
</form>