<a href="/">Voltar</a>
<h2>Adicione uma nota:</h2>
<form action="/notes" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Título:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="O que você pretende fazer?">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Descrição:</label>
        <textarea name="description" id="description" class="form-control" placeholder="Descreva melhor o que deseja fazer"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>

</form>